* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.section {
  background-color: antiquewhite;
}
.section:nth-child(even) {
  background: lavender;
}
/* 홀짝수 경우구분해서 해당되는 거에만 적용 */
.container {
  margin-inline: auto;
  max-width: 37.5rem;

  padding: 4rem 2rem;
  min-height: max(100dvh, 37.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lottie {
  max-width: 100%;
}

#lottie1 {
  width: 300px;
}
