* {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

body {
  font-family: system-ui, -apple-system;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
}

main {
  margin-inline: auto;
  /* padding-inline: 32px;
  max-width: 70ch; */
  width: min(70ch, 100% - 2 * 32px);
}
/* main을 중앙으로 정렬 */

img {
  display: block;
}

img,
svg,
video,
iframe {
  display: block;
  max-width: 100%;
}
/* 위의 요소들은 block으로 처리하라 */
