@import url(theme.light.css)
(prefers-color-scheme: dark);

@import url(theme.light.css)
(prefers-color-scheme: light);

@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");

$min-height: 2rem;
$progressBar-height: 1rem;
$wrappaer-padding-inlline: 2rem;

$bg: var(--bg);
$bgVariant: var(--bgVariant);
$txt: var(--txt);
$surface-transparent: var(--surface-transparent);
$surface: var(--surface);
$onSurface: var(--onSurface);
$accent: var(--accent);

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // 폰트
  font-family: "Cute Font", cursive;
}

.nav {
  background-color: white;

  color: black;
  font-weight: 700;
  container-type: inline-size;
  container-name: nav;
  nav__menu {
    font-size: 100px;
  }

  .navWrapper {
    padding-inline: $wrappaer-padding-inlline;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-block: 20px;
  }
  &__menuwrapper {
    display: flex;
    gap: 24px;
    align-items: baseline;
    font-size: 25px;
  }

  .lt680px {
    display: none;
  }

  @container nav (width < 42.5rem) {
    &__menuwrapper {
      display: none;
    }
    .lt680px {
      display: unset;
    }
  }
}

.hide {
  display: none;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  margin: 0;
  font-family: "Cute Font", cursive;
  font-size: 16px;
  line-height: 1.5;
  background-color: $bg;
  color: $txt;
}

.wrapper {
  max-width: calc(
    110ch + 2 * $wrappaer-padding-inlline
  );

  margin-inline: auto;
  padding-inline: $wrappaer-padding-inlline;

  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    // margin-top: 60px;
    font-size: 37px;
    margin-inline: auto;
    background-color: deepskyblue;
    border-radius: 15px;
    color: white;
    padding-inline: 12px;
  }
}
.wrapper1 {
  margin-inline: 120px;
  max-width: calc(
    80ch + 2 * $wrappaer-padding-inlline
  );
  min-height: max(50dvh, $min-height);
  // margin-inline: 80px;
  padding-inline: $wrappaer-padding-inlline;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

// 세부적 스타일링
header {
  background-color: white;
  text-align: left;
  text-wrap: balance;
  word-break: keep-all;
  min-height: max(95dvh, $min-height);
}

.stickyWrapper {
  display: grid;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: 1fr;
  position: relative;

  #section1 .container {
    max-width: 83rem;
    margin-inline: auto;
    padding-inline: 64px;
  }
}

// 그리드상에 어디있을지 위치를 정하기
main {
  z-index: 1;
  grid-column: 1 / span 2;
  grid-row: 1;
}

aside {
  position: sticky;
  top: 0;
  z-index: 3;
  grid-column: 1;
  grid-row: 1;
  padding-inline: 1rem 1.5rem;
  background-color: $surface-transparent;
  width: fit-content;
  height: max(100dvh, $min-height);
  border-radius: 0 1rem 1rem 0;
  font-size: 22px;
  backdrop-filter: blur(0.25rem);

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    li {
      transition: color 150ms ease-out;
      text-transform: capitalize;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;
      font-weight: 600;
      color: $onSurface;
      display: flex;
      transition: color 150ms ease-out;

      &::before {
        content: "";
        margin-top: 0.125rem;
        width: 1rem;
        height: 1rem;
        border-radius: 999999999px;
        border: 2px solid $onSurface;
        transition: background-color 150ms
          ease-out;
      }
      &:hover {
        color: $accent;
        &::before {
          border-color: $accent;
        }
      }
      &.pressed {
        color: $accent;
        &::before {
          background-color: $accent;
          border-color: $accent;
        }
      }
    }
  }
  a {
    cursor: pointer;
    text-decoration: none;
  }
}

.progressBar {
  position: sticky;
  z-index: 2;
  top: 0;
  grid-column: 1 / span 2;
  grid-row: 1;
  width: 100%;
  height: $progressBar-height;
  background-color: $surface;
  .indicator {
    position: absolute;
    inset: 0;
    transform-origin: left;
    background-color: $accent;

    transform: scaleX(0);
  }
}

.gallerylist {
  justify-items: center;
  padding-block: 50px;
  display: grid;
  aspect-ratio: 1/1;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3rem;
  column-gap: 1.5rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media (width < 75.625rem) {
  .stickyWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }

  main {
    grid-column: 1;
    grid-row: 3;
  }

  aside {
    top: $progressBar-height;
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    height: fit-content;
    padding-block: 1rem;

    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    border-radius: 0 0 1rem 1rem;

    ol {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3rem;

      a: first-of-type li {
        margin-left: $wrappaer-padding-inlline;
      }

      a: first-of-type li {
        margin-right: $wrappaer-padding-inlline;
      }
    }
  }

  .progressBar {
    grid-column: 1;
    grid-row: 1;
  }
}

#music {
  margin-block: 40px;
  aspect-ratio: 350 / 200;
  width: 90%;
}
#movie {
  margin-bottom: 70px;
  aspect-ratio: 350 / 200;
  width: 90%;
}
.wrapper .p {
  word-break: keep-all;
}

#section2 {
  background-color: $bgVariant;
  .wrapper {
    align-items: center;
  }
}

#section3 {
  background-position: 40%;
  background-repeat: no-repeat;
  height: auto;
  right: 100px;
  background-color: unset;

  background-size: cover;
  width: 100%;
  margin-bottom: 6.25rem;

  #section3 .wrapper h2 {
    margin-bottom: 50px;
  }
}

#section4 {
  background-position: 40%;
  background-repeat: no-repeat;
  height: auto;
  right: 100px;

  background-size: cover;
  width: 100%;
  margin-bottom: 6.25rem;
}
#section5 {
  background-position: 40%;
  background-repeat: no-repeat;
  height: auto;
  right: 100px;
  background-color: unset;

  background-size: cover;
  width: 100%;
  margin-bottom: 6.25rem;
}
#section6 {
  background-position: 40%;
  background-repeat: no-repeat;
  height: auto;
  right: 100px;

  background-size: cover;
  width: 100%;
  margin-bottom: 6.25rem;
}
#section7 {
  background-position: 40%;
  background-repeat: no-repeat;
  height: auto;
  right: 100px;
  background-color: unset;

  background-size: cover;
  width: 100%;
  margin-bottom: 6.25rem;
}

ul {
  cursor: pointer;

  li {
    display: block;
    vertical-align: top;
    width: 50%;
    .a {
      h3 {
        font-size: 22px;
        text-align: center;
        padding: 20px;
        color: black;
        width: 190%;
      }
    }
  }

  ul .a .screen1 {
    position: relative;
    overflow: hidden;
    //   사진 크기 조정가능구간
    width: 180%;

    img {
      max-height: 100%;
      width: 100%;
      height: 100%;
    }

    .top {
      position: absolute;
      bottom: 150%;
      left: 200px;
      z-index: 2;
      color: #fff;
      font-size: 31px;
      font-weight: 900;
      transition: all 0.35s;
    }
    .bottom {
      position: absolute;
      top: 150%;
      left: 200px;
      z-index: 2;
      color: #fff;
      font-size: 31px;
      transition: all 0.35s;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 99.5%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
      opacity: 0;
      transition: all 0.35s;
    }
  }
  .a {
    display: block;
    width: 110%;
    text-decoration: none;
    margin: 5px;
    .screen {
      position: relative;
      overflow: hidden;

      width: 190%;
      img {
        max-height: 100%;
        width: 100%;
        height: 100%;
      }

      .top {
        position: absolute;
        bottom: 150%;
        left: 30px;
        z-index: 2;
        color: #fff;
        font-size: 32px;
        font-weight: 900;
        transition: all 0.35s;
      }
      .bottom {
        position: absolute;
        top: 150%;
        left: 30px;
        z-index: 2;
        color: #fff;
        font-size: 18px;
        transition: all 0.35s;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 97%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
        opacity: 0;
        transition: all 0.35s;
      }
    }
    .screen1 {
      position: relative;
      overflow: hidden;

      width: 180%;

      img {
        max-height: 100%;
        width: 100%;
        height: 100%;
      }

      .top {
        position: absolute;
        bottom: 150%;
        left: 200px;
        z-index: 2;
        color: #fff;
        font-size: 31px;
        font-weight: 900;
        transition: all 0.35s;
      }
      .bottom {
        position: absolute;
        top: 150%;
        left: 200px;
        z-index: 2;
        color: #fff;
        font-size: 25px;
        transition: all 0.35s;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 99.2%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
        opacity: 0;
        transition: all 0.35s;
        box-shadow: 1px 1px 20px #ddd;
      }
    }
  }
}

ul li .a:hover .top {
  bottom: 62%;
}
ul li .a:hover .bottom {
  top: 42%;
}
ul li .a:hover .screen::after {
  opacity: 1;
}
ul li .a:hover .screen1::after {
  opacity: 1;
}

.footerText {
  container-type: inline-size;
  container-name: footerText;
  padding-inline: 32px;
  max-width: 83rem;
  margin-inline: auto;
  margin-left: auto;
  margin-right: auto;

  font-size: 21px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .footer__extLinkWrap img {
    width: 45px;
    height: auto;
  }
  a {
    text-decoration: none;
    color: dodgerblue;
  }
  li {
    list-style: none;
  }

  h2 {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    font-size: 21px;
  }
  li {
    margin-bottom: 0.5rem;
  }
  .footer__extLinkWrap {
    gap: 8px;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  footer {
    .wrapper {
      min-height: max(100dvh, $min-height);
    }
  }
}

.logo {
  width: 45%;
}
.footer {
  background-color: $bgVariant;
  padding-block: 30px;
  container-type: inline-size;
  container-name: footer;
  font-size: 20px;
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .footer__extLinkWrap img {
    width: 45px;
    height: auto;
  }
  a {
    text-decoration: none;
    color: dodgerblue;
  }
  li {
    list-style: none;
  }

  h2 {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    font-size: 21px;
  }
  li {
    margin-bottom: 0.5rem;
    width: 100%;
  }
  .footer__extLinkWrap {
    gap: 8px;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  @container footer (width < 62.5rem) {
    .wrapper {
      grid-template-columns: 1fr 1fr;
    }
    .logo {
      width: 100px;
    }
  }
}

// media쿼리

@media (width<59.2rem) {
  aside {
    ol {
      justify-content: flex-start;
    }
  }
}

@media (max-width: 470px) {
  #hero1 {
    width: unset;
  }

  .container .wrapper1 {
    margin-inline: 0;
  }
}
@media (max-width: 400px) {
  header #hero1 {
    width: unset;
    max-height: 92.5%;
  }
  header {
    min-height: max(80dvh, 2rem);
  }

  #section1 {
    padding-right: 10px;
  }

  .container .wrapper1 {
    margin-inline: 0;
    padding-inline: 1rem;
  }
}

@media (max-width: 420px) {
  .gallerylist {
    grid-template-columns: 1fr 1fr;
    row-gap: unset;
  }
  .footer {
    font-size: 15px;
  }
}
@media (max-width: 431px) {
  #section1 {
    width: 100%;
  }
}
@media (max-width: 320px) {
  #section1 {
    width: 100%;
  }
}

@media (max-width: 330px) {
  .nav {
    width: 110%;
  }
  header {
    min-height: max(80dvh, 2rem);
  }
}

@media (max-width: 560px) {
  ul li .a .screen .bottom {
    font-size: 10px;
    left: 10px;
  }
}
@media (max-width: 500px) {
  ul li .a .screen1::after {
    height: 97%;
  }
}
@media (max-width: 500px) {
  ul li .a .screen::after {
    height: 95%;
  }
}

@media (max-width: 780px) {
  ul li .a .screen1 .top {
    font-size: 23px;
    left: 10%;
  }
  ul li .a:hover .top {
    bottom: 72%;
  }
  ul li .a .screen1 .bottom {
    font-size: 13px;
    left: 10%;
  }
  ul li .a:hover .bottom {
    top: 32%;
  }
}
@media (max-width: 768px) {
  ul li .a .screen1::after {
    height: 97.8%;
  }
}
@media (max-width: 1024px) {
  ul li .a .screen1::after {
    height: 98.4%;
  }
}

@media (max-width: 1000px) {
  ul li .a .screen1 .top {
    font-size: 23px;
    left: 10%;
  }
  ul li .a:hover .top {
    bottom: 72%;
  }
  ul li .a .screen1 .bottom {
    font-size: 16px;
    left: 10%;
  }
  ul li .a:hover .bottom {
    top: 32%;
  }
}
@media (max-width: 550px) {
  ul li .a .screen1 .top {
    font-size: 20px;
    left: 10%;
  }
  ul li .a .screen1::after {
    height: 97.3%;
  }
  ul li .a:hover .top {
    bottom: 72%;
  }
  ul li .a .screen1 .bottom {
    font-size: 10px;
    left: 10%;
  }
  ul li .a:hover .bottom {
    top: 32%;
  }
  .wrapper h2 {
    font-size: 25px;
  }
}
@media (max-width: 425px) {
  ul li .a .screen1::after {
    height: 96%;
  }
}
.button {
  cursor: pointer;
  padding: 0.7rem 1rem;
  font-size: 24px;
  line-height: 0.875rem;
  font-weight: bold;
  background-color: deepskyblue;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 62.4375rem;

  transition: background-color 250ms ease-in-out;
}

.button:hover {
  background-color: dodgerblue;
}

/* 슬라이드 Style */
.slidebox {
  margin: 0 auto;
}
.slidebox .slidelist {
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
}
.slidebox .slidelist .slideitem {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all 1s;
}
.slidebox .slidelist .slideitem > a {
  display: block;
  width: auto;
  position: relative;
}
.slidebox .slidelist .slideitem > a img {
  max-width: 100%;
}
.slidebox .slidelist .slideitem > a label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.slidebox .slidelist .slideitem > a label.prev {
  left: 20px;
  background: #333 url("./img/left-arrow.png")
    center center / 50% no-repeat;
}
.slidebox .slidelist .slideitem > a label.next {
  right: 20px;
  background: #333 url("./img/right-arrow.png")
    center center / 50% no-repeat;
}

[name="slide"] {
  display: none;
}
#slide01:checked ~ .slidelist .slideitem {
  transform: translateX(0);
  animation: slide01 15s infinite;
}
#slide02:checked ~ .slidelist .slideitem {
  transform: translateX(-100%);
  animation: slide02 15s infinite;
}
#slide03:checked ~ .slidelist .slideitem {
  transform: translateX(-200%);
  animation: slide03 15s infinite;
}

@keyframes slide01 {
  0% {
    left: 0%;
  }
  33% {
    left: 0%;
  }
  34% {
    left: -100%;
  }
  66% {
    left: -100%;
  }
  67% {
    left: -200%;
  }
  99% {
    left: -200%;
  }
  100% {
    left: 0%;
  }
}

@keyframes slide02 {
  0% {
    left: 0%;
  }
  33% {
    left: 0%;
  }
  34% {
    left: -100%;
  }
  66% {
    left: -100%;
  }
  67% {
    left: 100%;
  }
  99% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes slide03 {
  0% {
    left: 0%;
  }
  33% {
    left: 0%;
  }
  34% {
    left: 200%;
  }
  66% {
    left: 200%;
  }
  67% {
    left: 100%;
  }
  99% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
