:root {
  --bg: #fffbff;
  --bgVariant: rgba(118, 203, 255, 0.5);
  --txt: #1b1b1f;
  --surface-transparent: rgba(197, 213, 239, 0.5);
  --surface: #dcd9de;
  --onSurface: #1b1b1f;
  --accent: deepskyblue;
  /* background-color: cornflowerblue; */
}
